<form>
      <h2>An error occured</h2>
<p>An error occured while processing the adventure, see below for more details.</p>
<h3>{{this.error.message}}</h3>
<i>{{this.error.details}}</i><br />
<pre>{{this.error.error}}</pre>
</form>
