#import-progress-widget { 
    border: 1px solid black;
    border-radius: 3px;
    height: 20px;
    overflow: hidden;
    position: relative;
}
#import-progress-title { 
    height: 20px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
#import-progress-bar { 
    color:#fff!important;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-color:#4CAF50!important;
}

#ddb-importer-feature-pack .feature-text {
    margin-top: 8px;
    display: flex;
    flex: 1;
    overflow-y: hidden;
  }
  #ddb-importer-feature-pack .feature-text .feature-description {
    flex: 1;
  }
  #ddb-importer-feature-pack .feature-text .editor {
    padding: 8px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    height: 250px;
  }
  #ddb-importer-feature-pack .feature-text .editor .tox .tox-toolbar-overlord {
    background-color: transparent;
    border-bottom: 1px solid #222;
    padding-bottom: 4px;
  }
  #ddb-importer-feature-pack .feature-text .editor .tox .tox-toolbar,
  #ddb-importer-feature-pack .feature-text .editor .tox .tox-toolbar__overflow,
  #ddb-importer-feature-pack .feature-text .editor .tox .tox-toolbar__primary {
    background: transparent;
    background-color: transparent;
  }
  #ddb-importer-feature-pack .feature-text .editor .tox.tox-tinymce .tox-tbtn {
    padding: 0;
    margin: 0 0 0 4px;
    width: 32px;
  }
  #ddb-importer-feature-pack .feature-text .editor .tox.tox-tinymce .tox-tbtn[title=Formats] {
    width: 90px;
  }
  #ddb-importer-feature-pack .feature-text .editor .editor-content {
    height: 100%;
    overflow-y: auto;
    margin: 0;
    padding: 0 12px 0 0;
  }